{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
         }
        }
      ]
     ],
     "env": {
      "test": {
        "presets": [
          "react-native",
          [
            "@babel/preset-env"
          ]
        ]
      }
    }
  
}